* { margin:0px; padding:0px; }
body { background:#f0f0f0; }
h1 { font:400 36pt 'EB Garamond', serif; color:rgb(198, 7, 7); }
p { color:#404040; font:400 13pt 'Manrope', sans-serif; margin:10px 0px; line-height:1.6em; }
article { background:white; max-width:1000px; margin:20px auto; padding:50px; box-shadow: 0px 0px 20px #b0b0b0; }
blockquote { margin:20px 30px; }
blockquote p { font-style:italic; }
img { max-width:30%; }